@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

.animated-title {
  color: #e66a1c;
  animation: shimmer 1s infinite alternate;
  font-family: "Playfair Display", serif;
  line-height: 0.85;
  perspective: 500px;
}

.word {
  display: inline-block;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;
  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  animation-delay: 1.5s;
  color: #23376c; 
}

.eiei-text {
  color: #d2d3d5be;
  animation: shimmer 2s infinite alternate;
  text-shadow: 0 0 4px rgba(255, 215, 0, 0.5);
  font-family: 'Times New Roman', Times, serif;
  transition: text-shadow 0.3s ease-in-out;
}

/* Keyframes */
@keyframes pop-word {
  to { transform: rotateX(0); }
}

@keyframes show {
  to { opacity: 1; }
}

@keyframes shimmer {
  to { text-shadow: 0 0 8px rgba(255, 255, 255, 0.6); }
}